<div class="container-fluid bg-secondary mt-4">
  <!-- main footer -->
  <div class="row" style="height: 150px;">
    <div class="col-md-4 col-12 d-flex align-items-center">
      <div class="ml-2" style="width: 250px; height: 80px;" >
        <img class="img-fluid" src="/images/logo.png" alt="the-book-shop-logo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="text-capitalize text-white"> copyright - the book shop | 2020</p>
    </div>
  </div>
</div>