<!-- this page is displayed when the user enters the email for password reset
and then a token is send to its email after that the user is redirected to this page -->

<div class="container-fluid">
  <div class="row" >
    <!-- left : form -->
    <div class="col-md-4 offset-md-1 d-flex justify-content-center align-items-center" style="height: 100vh;">


      <div class="card card-body border-0 ">
        <!-- logo : position-absolute -->
        <div class="mb-5" style="width: 80%;" >
          <img class="img-fluid " src="/images/logo.png" alt="">
        </div>
        <h3 class="text-center mb-4 font-oswald">Please check your Email now</h3>
      </div>
    </div>
    <!-- right : text -->
    <div class="col-md-6 offset-md-1 d-flex justify-content-center align-items-center position-relative login-page__right-section " style="height: 100vh;">
      <!-- home link -->
      <span class="position-absolute" style="top: 10px; left: 10px;"><a class="text-white" href="/">Home</a></span>
      <!-- main message -->
      <div class="p-3"> 
        <h1 class="text-white text-capitalize display-2 font-oswald">Don't Worry!!!</h1>
        <h3 class="text-white ml-2">We are here to help you</h3>
      </div>

      <!-- register message -->
      <div class="position-absolute" style="bottom: 20px; ">
        <p class="text-white text-capitalize ">if you don't have an account please <a class="text-white lead" href="/users/register">Register Here</a></p>
      </div>
    </div>
  </div>
</div>

