:root{
  --primary : #78C2AD;
  --success : #56CC9D;
  --primary-alpha : rgba(120, 194, 173, 0.699);
}

body{
  font-family: 'Montserrat', sans-serif;
}

.font-oswald{
  font-family: 'Oswald', sans-serif;
}

.bg-grey{
  background-color: #F5F6F7;
}

/* **** carousel */
.carousel{
  height: 300px;
}

.carousel img{

  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position-y: -30%;
}

.carousel .carousel-caption{
  background-color: var(--primary-alpha);
  
}

/* **** login : page */
.login-page__right-section{
  background: linear-gradient(#78C2AD8c,#56CC9D8c ),
  url("/images/site/cupandbook.jpg");
  background-position: center;
  background-size: cover;
  
}

.register-page__left-section{
  background: linear-gradient(#78C2AD8c,#56CC9D8c ),
  url("/images/site/cupandbook.jpg");
  background-position: center;
  background-size: cover;
}

/* product card */
.product-card-image{
  max-height: 180px;
  /* width: auto; */
  object-fit: contain;

}



/* 404 page */
.background-404{
  background: url("../images/site/404.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #EFEFEF;
}


/* responsive fonts */
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}
