<%- contentFor('body')  %> 
<div class="container-fluid background-404 d-flex justify-content-center align-items-end" style="height: 100vh; width: 100%;">
  <div class="mb-5">
    <h4>Go Back To the <a href="/"> Home Page</a></h4>
  </div>
</div>